
html {
	font-size:50%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.galeria {
  box-sizing: border-box;
  padding-bottom: 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.galeria .auto-group-g1 {
  width: 100%;

  position: relative;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 {
  box-sizing: border-box;
  padding: 5.1rem 39rem 9.7rem 39rem;
  width: 189.9rem;
  height: 104.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgb(132, 0, 255), rgba(128, 0, 188, 0.2));
}

.galeria .auto-group-g1 .section-g1 .auto-group-g2 {
  margin-right: 1.7rem;
  width: 36.866rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g2 .effect-fade-g1 {
  margin-bottom: 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g2 .effect-fade-g1 .pc1 {
  width: 48.166rem;
  height: 44.05rem;
  position: relative;
  background-size: 162.441% 100%;
  background-image: url('../img/bogatyr-club-p-kompyuternii-klub-foni-vkontakte-68jpg.png');
  transition: 1s;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g2 .effect-fade-g1:hover .pc1 {
  background-position: right;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g2 .effect-fade-g2 {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g2 .effect-fade-g2 .pc2 {
  width: 48.166rem;
  height: 44.05rem;
  position: relative;
  background-size: 137.45% 100%;
  background-image: url('../img/b22f17d-b65f-4a5c-a73d-077b1be4114ejpg.png');
  transition: 1s;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g2 .effect-fade-g2:hover .pc2 {
  background-position: right;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g3 {
  margin-right: 1.7rem;
  width: 36.867rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g3 .effect-fade-g3 {
  margin-bottom: 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g3 .effect-fade-g3 .pc3 {
  width: 48.167rem;
  height: 44.05rem;
  position: relative;
  background-size: 140.227% 100%;
  background-position: -9.6882rem 0;
  background-image: url('../img/largean4wsraxrpcgbsyaooimt7krrpome6svjpg.png');
  transition: 1s;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g3 .effect-fade-g3:hover .pc3{
  background-position: right;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g3 .effect-fade-g4 {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g3 .effect-fade-g4 .pc4 {
  width: 48.167rem;
  height: 44.05rem;
  position: relative;
  background-size: 162.582% 100%;
  background-position: -15.0721rem 0;
  background-image: url('../img/cyberspotlite-gljpg.png');
  transition: 1s;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g3 .effect-fade-g4:hover .pc4{
  background-position: right;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g4 {
  width: 36.867rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g4 .effect-fade-g5 {
  margin-bottom: 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g4 .effect-fade-g5 .pc5 {
  width: 48.167rem;
  height: 44.05rem;
  position: relative;
  background-size: 162.755% 100%;
  background-image: url('../img/clubsjpg.png');
  transition: 1s;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g4 .effect-fade-g5:hover .pc5{
  background-position: right;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g4 .effect-fade-g6 {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g4 .effect-fade-g6 .pc6 {
  width: 48.167rem;
  height: 44.05rem;
  position: relative;
  background-size: 137.179% 100%;
  background-image: url('../img/foni-club-p-oboi-kompyuternii-klub-imba-1jpg.png');
  transition: 1s;
}
.galeria .auto-group-g1 .section-g1 .auto-group-g4 .effect-fade-g6:hover .pc6{
  background-position: right;
}
.slides-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  }
  .slide, .slide img{
  width:100%;
  height: 450px;
  }
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
.slide-text {
color: #f2f2f2;
font-size: 5vw;
text-transform: uppercase;
font-weight: bold;
padding: 8px 12px;
position: absolute;
bottom: 50%;
max-width: 100%;
width:100%;
text-align: center;
}
.fade {
animation-name: fade;
animation-duration: 1.5s;
}
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}