
html {
	font-size:50%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: line;
}
input {
	border: none;
}
.Hlavna_str {
  box-sizing: border-box;
  padding-bottom: 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.Hlavna_str .section {
  box-sizing: border-box;
  padding: 0rem 52rem 0rem 53rem;
  width: 100%;

  background-size: 100% 240%;
  background-position: 0 0;
  background-image: url('../img/section-bg-TSc.png');
  flex-shrink: 0;
  background-attachment: fixed;
}
.Hlavna_str .section .header {
  margin-bottom: 13rem;
  box-sizing: border-box;

  width: 100%;

  padding: 20px 0;
  background-color: #340060;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.Hlavna_str .section .header .divu-clearfix {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.Hlavna_str .section .header .divu-clearfix .ukfgames {
  margin: 0rem 3.1rem 0.001rem 0rem;
  width: 6.4rem;
  height: 6.256rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../img/ukfgames.png');
  flex-shrink: 0;
}
.Hlavna_str .section .header .divu-clearfix .cyberukfsk {
  margin-right: auto;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section .header .divu-clearfix .link-hlavn-strnka {
  margin: 0rem 1.842rem 0.05rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section .header .divu-clearfix .link-onas {
  margin: 0rem 1.753rem 0.05rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section .header .divu-clearfix .link-galeria {
  margin: 0rem 1.809rem 0.05rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section .header .divu-clearfix .link-kontakt {
  margin-bottom: 0.05rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section .divu-clearfix2 {
  margin: 15rem 76.639rem 0rem 76.661rem;
  width: calc(100% - 153.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  top: 40%;
  padding: 60;
}
.Hlavna_str .section.divu-clearfix2 .heading-1-cyberukf {
  margin: 0rem 0rem 4.129rem 0.012rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 3;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  padding: 10;
}
.Hlavna_str .section.divu-clearfix2 .lo1 {
  margin-bottom: 3.8385rem;
  max-width: 38.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5999999576;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section.divu-clearfix2 .link-b72 {
  margin: 0rem 14.213rem 0rem 14.193rem;
  width: 60px;
  height: 4.559rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #6f00d1;
  flex-shrink: 0;
}

.Hlavna_str .section2 {
  box-sizing: border-box;
  padding: 1.3rem 52.589rem 1.3rem 52.361rem;
  width: 100%;
  height: 100rem;
  background: linear-gradient(2deg, rgb(132, 0, 255), rgb(204, 95, 255));
  flex-shrink: 100;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .price-list {
  margin: 0rem 0rem 1.459rem 0.259rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 900;
  line-height: 1.0999999841;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .main-arena {
  margin: 0rem 0rem 1.15rem 0.263rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .rtx-3070 {
  margin: 0rem 0rem 2.924rem 0.267rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .auto-group {
  margin: 0rem 0.651rem 7.013rem 0rem;
  width: calc(100% - 0.651rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .auto-group .weekdays {
  margin: 0rem 21.599rem 0.004rem 0rem;
  max-width: 33.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6000000636;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .auto-group .weekends {
  margin-top: 0.0045rem;
  max-width: 31.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6000000636;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .bootcamp {
  margin: 0rem 0rem 1.2rem 0.259rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
    z-index: 1;
}
.Hlavna_str .section2 .divu-clearfix3 .rtx-3080 {
  margin: 0rem 0rem 2.873rem 0.267rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section2 .divu-clearfix3 .auto-group {
  margin-left: 0.25rem;
  width: calc(100% - 0.25rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Hlavna_str .section2 .divu-clearfix3 .auto-group .weekdays2 {
  margin: 0.005rem 20.2rem 0rem 0rem;
  max-width: 33.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6000000636;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.Hlavna_str .section2 .divu-clearfix3 .auto-group .weekends2 {
  margin-bottom: 0.0045rem;
  max-width: 33.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6000000636;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.Hlavna_str .section3 {
  box-sizing: border-box;
  padding: 10rem 52rem 10rem 53rem;
  width: 100%;

  background-size: 100% 186%;
  background-position: 0 0;
  background-image: url('../img/section-bg.png');
  flex-shrink: 0;
  background-attachment: fixed;
}
.Hlavna_str .section3 .layout-row {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.8rem;
  align-items: center;
  justify-content: center;
}
.Hlavna_str .section3 .layout-row .align-center {
  box-sizing: border-box;
  padding: 4.5rem 7.503rem 5.21rem 7.53rem;
  width: 29.833rem;
  height: 100%;
  background-color: #ab47ff;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hlavna_str .section3 .layout-row .align-center .container-layout {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Hlavna_str .section3 .layout-row .align-center .container-layout .png-1 {
  margin: 0rem 0.031rem 1.1rem 0rem;
  width: 6.3rem;
  height: 6.5rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../img/png-DgG.png');
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center .container-layout .heading-address {
  margin: 0rem 0rem 1.99rem 0.007rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center .container-layout .nab-mlad-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5999999576;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center2 {
  box-sizing: border-box;
  padding: 4.5rem 7.503rem 5.21rem 7.53rem;
  width: 29.833rem;
  height: 100%;
  background-color: #8a00ff;
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center2 .container-layout {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Hlavna_str .section3 .layout-row .align-center2 .container-layout .png-2 {
  margin: 0rem 0.03rem 1.1rem 0rem;
  width: 9.1rem;
  height: 6.7rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../img/png.png');
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center2 .container-layout .heading-phone {
  margin: 0rem 0rem 1.99rem 0.003rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center2 .container-layout .cislo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5999999576;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center3 {
  box-sizing: border-box;
  padding: 4.3rem 6.102rem 5.71rem 6.131rem;
  width: 29.833rem;
  height: 100%;
  background-color: #ab47ff;
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center3 .container-layout {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Hlavna_str .section3 .layout-row .align-center3 .container-layout .png-Yuz {
  margin: 0rem 0.033rem 0.5rem 0rem;
  width: 6.7rem;
  height: 7.2rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../img/png-HrL.png');
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center3 .container-layout .heading-e-mail {
  margin: 0rem 0rem 1.79rem 0.002rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Hlavna_str .section3 .layout-row .align-center3 .container-layout .timicrafter605 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5999999576;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    width: 95%;
  }
}