
html {
	font-size:500%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.Kontakts {
  box-sizing: border-box;
  padding-bottom: 14.073rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.Kontakts .auto-group-k1 {
  width: 100%;
  position: relative;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 {
  box-sizing: border-box;
  padding: 17rem 65rem 10rem 40rem;
  width: 189.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgb(132, 0, 255), rgba(128, 0, 188, 0.2));
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 4.463rem 3rem 4.1rem 3rem;
  width: 55.5rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .auto-group-k2 {
  margin-bottom: 10.119rem;
  width: 35.1rem;
  position: relative;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .auto-group-k2 .contact {
  width: 10.7rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #111111;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-label-name {
  margin-bottom: 0.06rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-input-k1 {
  margin-bottom: 0.9rem;
  box-sizing: border-box;
  padding: 1.1rem 1.2rem 1.259rem 1.2rem;
  width: 100%;
  height: 4.559rem;
  background-color: #f2f2f2;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-input-k1 .placeholder-k1 {
  margin-right: 34.4rem;
  opacity: 0.5;
  width: 12.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-label-email {
  margin-bottom: 0.059rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-input-k2 {
  margin-bottom: 0.901rem;
  box-sizing: border-box;
  padding: 1.1rem 1.2rem 1.259rem 1.2rem;
  width: 100%;
  height: 4.559rem;
  background-color: #f2f2f2;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-input-k2 .placeholder-k2 {
  margin-right: 32.2rem;
  opacity: 0.5;
  width: 14.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-label-message {
  margin-bottom: 0.059rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .box {
  margin-bottom: 0.059rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-input-k3 {
  margin-bottom: 1.101rem;
  box-sizing: border-box;
  padding: 1.1rem 1.2rem 1.259rem 1.2rem;
  width: 100%;
  height: 4.559rem;
  background-color: #f2f2f2;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-input-k3 .divplaceholder-k1 {
  margin-right: 32.3rem;
  opacity: 0.5;
  width: 14.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k1 .expanded-width-k1 .form-link-k4 {
  width: 100%;
  height: 4.559rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #a200ff;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 {
  box-sizing: border-box;
  padding: 3rem 3rem 2.94rem 3rem;
  width: 55.5rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .auto-group-k3 {
  box-sizing: border-box;
  padding-bottom: 1.8595rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .auto-group-k3 .divu-image-k {
  margin-bottom: 2rem;
  width: 16.5rem;
  height: 16.5rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../img/divu-image.png');
  border-radius: 8.25rem;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .auto-group-k3 .infa-k1 {
  margin-bottom: 1.93rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #111111;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .auto-group-k3 .pu-text-k {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .auto-group-k3 .pu-text-k .every1 {
  margin-bottom: 2.8085rem;
  max-width: 46.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5999999576;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .auto-group-k3 .pu-text-k .every2 {
  max-width: 47.7rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5999999576;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .divcustom-expanded-k3 {
  box-sizing: border-box;
  padding: 0rem 5.5rem 0rem 3rem;
  width: 100%;
  height: 11.6rem;
  border: solid 2rem #ab47ff;
  background-color: #f2f2f2;
  flex-shrink: 0;
}
.Kontakts .auto-group-k1 .section-k1 .layout-row-k1 .container-style-k1 .container-layout-k2 .divcustom-expanded-k3 .every3 {
  max-width: 41rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5999999576;
  color: #111111;
  font-family: Open Sans, 'Source Sans Pro';
}