.ty1 {
    margin: 0rem 59.11rem 9.7rem 59.11rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    top: 40%;
    padding: 30;
  }
  .ty2 {
    margin: 0rem 0rem 4.129rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8.2rem;
    font-weight: 500;
    line-height: 4;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    padding: 10;
  }
  .ty3 {
    width: 100px;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.6000000238;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #6f00d1;
    flex-shrink: 0;
  }
  .ty4{
    box-sizing: border-box;
    padding: 10%;
    background: linear-gradient(2deg, rgb(132, 0, 255), rgb(204, 95, 255));
    flex-shrink: 100;
    position: relative;
        z-index: 1;
  }